<!doctype html>
<html>
  <head>
    <title>MacBook Air - 1</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <link rel="stylesheet" href="./style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="parent-div">
      <div class="macbook-air--1-42 pos-abs">
        <div class="find-nearby-doc-43 pos-abs">
          <!-- prettier-ignore --><span class="find-nearby-doc-43-0">Find Nearby Doctors</span>
        </div>

        <div class="connect-with-ex-44 pos-abs">
          <!-- prettier-ignore --><span class="connect-with-ex-44-0">Connect with experienced cardiologists in your area<br></span>
        </div>

        <div class="vector-48 pos-abs">
          <div
            class="nodeBg-48 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
          ></div>
        </div>

        <div class="rectangle-1-45 pos-abs"></div>

        <div class="all-cities-46 pos-abs">
          <!-- prettier-ignore --><span class="all-cities-46-0">All Cities</span>
        </div>
        <div class="component-1-4183-container pos-abs">
          <div class="property-1group-4168 pos-abs">
            <div class="rectangle-2-49 pos-abs"></div>

            <div class="rectangle-3-410 pos-abs">
              <img
                src="https://s3-alpha-sig.figma.com/img/7fcb/f538/066eb12d1d2cbdb96c27a7a17e01f1ed?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=RnJlA1CctFvwY2EpeuiHidUfHMwBoy~gLtr2VMKoNMgDRq~EuFQOw8qZtO-Ss5sX0Uja1hlDFvVo1A~27iU2uXUHQS-LkIzYt97nEVoGJAwgJO3nb2W8t-063kJlPZ6boVKSXUgTRTprgAPsBZSQo3A21T1SyZrhE4iJGe4Y~1IRjmQ48pLHm6c46asaeGPh8TfGKuovyRZ6dlP72s-twp1EyRvCGDfI2zgYdJF7P-54mdVNdm0AmyNC9pTZyKAUFYbufzU5w2czsGFN9Qxx4htHgwRvRIZ~C0bsQu2gpQdPzVCpoCSAE6T7TBwYNjAxVGxw~N9xmqKCaQnROKRX3w__"
                class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-410"
                alt="410-ALT"
              />
            </div>

            <div class="dr-priya-sharma-411 pos-abs">
              <!-- prettier-ignore --><span class="dr-priya-sharma-411-0">Dr. Priya Sharma<br><br></span>
            </div>

            <div class="view-on-map-431 pos-abs">
              <!-- prettier-ignore --><span class="view-on-map-431-0">View on Map</span>
            </div>

            <div class="vector-433 pos-abs">
              <div
                class="nodeBg-433 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>

            <div class="cardiologist-424 pos-abs">
              <!-- prettier-ignore --><span class="cardiologist-424-0">Cardiologist</span>
            </div>

            <div class="apollo-hospital-426 pos-abs">
              <!-- prettier-ignore --><span class="apollo-hospital-426-0">Apollo Hospital, Bandra West</span>
            </div>

            <div class="c-25-km-428 pos-abs">
              <!-- prettier-ignore --><span class="c-25-km-428-0">(2.5 km)</span>
            </div>
            <!-- Group1 -->
            <section class="group-419 pos-abs">
              <div class="vector-420 pos-abs">
                <div
                  class="nodeBg-420 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>

              <div class="vector-421 pos-abs">
                <div
                  class="nodeBg-421 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>
            </section>

            <div class="priyasharmaapol-422 pos-abs">
              <!-- prettier-ignore --><span class="priyasharmaapol-422-0"><br></span
              ><!-- prettier-ignore --><span class="priyasharmaapol-422-1">priya.sharma@apollo.com</span>
            </div>

            <div class="vector-417 pos-abs">
              <div
                class="nodeBg-417 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>
          </div>
        </div>
        <div class="component-2-4202-container pos-abs">
          <div class="property-1group-4171 pos-abs">
            <div class="rectangle-2-436 pos-abs"></div>

            <div class="rectangle-3-437 pos-abs">
              <img
                src="https://s3-alpha-sig.figma.com/img/1b14/efc0/15b7a03d212d96392df139a92524b4e4?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=eFXkxLCz4yVfpAyTvuHBWH2UoHz7d1k~UJC0FiyLjZpornOR3Lod7cwJOQ5i8inWV1MtRzWzmTrobLqiszfSfXEBqocmlO036AHlT~anSV5xjhFh7pNmD82ILsOZHx3YcYVnUFADzJsFyK4ShNRtBIZKtSCWGz5rXwzVxfiVXnAnsI2Rcc95YNUtM2DM9FMZPD8FexO64JH8lYVSt1-vvP1NwuTKO2bj2DjLPnmGJzKJDmN39Zv0AessfDRe85D5uJRNTwA3Q0~ZgdynjkMDjmxl2JVVKbIBwuVSoCOwpGDusNsji8Ig0-mzejc5AYRXsMnY9CyvfuDlES8juv15Mw__"
                class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-437"
                alt="437-ALT"
              />
            </div>

            <div class="dr-rajesh-kumar-438 pos-abs">
              <!-- prettier-ignore --><span class="dr-rajesh-kumar-438-0">Dr. Rajesh Kumar<br></span>
            </div>

            <div class="view-on-map-447 pos-abs">
              <!-- prettier-ignore --><span class="view-on-map-447-0">View on Map</span>
            </div>

            <div class="vector-448 pos-abs">
              <div
                class="nodeBg-448 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>

            <div class="cardiac-surgeon-439 pos-abs">
              <!-- prettier-ignore --><span class="cardiac-surgeon-439-0">Cardiac Surgeon</span>
            </div>

            <div class="max-healthcare--441 pos-abs">
              <!-- prettier-ignore --><span class="max-healthcare--441-0">Max Healthcare, Saket</span>
            </div>

            <div class="c-31-km-442 pos-abs">
              <!-- prettier-ignore --><span class="c-31-km-442-0">(3.1 km)</span>
            </div>
            <!-- Group1 -->
            <section class="group-444 pos-abs">
              <div class="vector-445 pos-abs">
                <div
                  class="nodeBg-445 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>

              <div class="vector-446 pos-abs">
                <div
                  class="nodeBg-446 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>
            </section>

            <div class="rajeshkumarmaxc-440 pos-abs">
              <!-- prettier-ignore --><span class="rajeshkumarmaxc-440-0">rajesh.kumar@max.com</span>
            </div>

            <div class="vector-443 pos-abs">
              <div
                class="nodeBg-443 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>
          </div>
        </div>
        <div class="component-3-4216-container pos-abs">
          <div class="property-1group-4174 pos-abs">
            <div class="rectangle-2-450 pos-abs"></div>

            <div class="rectangle-4-463 pos-abs"></div>

            <div class="rectangle-3-451 pos-abs">
              <img
                src="https://s3-alpha-sig.figma.com/img/519f/6f90/524eb78f54ca66f32be8dbe9933269d8?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Ql79jzGtZpOayAKxxMFNB-8O7K7F6aFUfCgHqCdNsrBuJ4aX0gW~ooRPO2PO3LCf3ONBavnkCLmM7-Hxtalf8deCcCA2R8-oPPGyaXBw~-ryAxFcxBmGiTPO6ffHIzngWsktoEIVJgrxhxSiAspifzGQi09UWwhF3WDWNmGJvBo6wwVmTp5yxmEWpTTpGR02EedB-0f1mAiAKuph2ZjVYcf2MWNnoi2tZFYcZQQrb4YTMu-Dwz-V4~5EfAWavADmI72GaQN24Xl6GLHgWYtafH-Erpl15pdcUwQwNWB7izjVyAV50Zb0RY-mHuzJZj2jwV9ldtBjYUjVGiUlhZaW4Q__"
                class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-451"
                alt="451-ALT"
              />
            </div>

            <div class="dr-rajesh-kumar-452 pos-abs">
              <!-- prettier-ignore --><span class="dr-rajesh-kumar-452-0">Dr. Anjali Desai</span>
            </div>

            <div class="view-on-map-461 pos-abs">
              <!-- prettier-ignore --><span class="view-on-map-461-0">View on Map</span>
            </div>

            <div class="vector-462 pos-abs">
              <div
                class="nodeBg-462 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>

            <div class="cardiac-surgeon-453 pos-abs">
              <!-- prettier-ignore --><span class="cardiac-surgeon-453-0">Cardiac Surgeon</span>
            </div>

            <div class="fortis-hospital-455 pos-abs">
              <!-- prettier-ignore --><span class="fortis-hospital-455-0">Fortis Hospital, Bannerghatta Road</span>
            </div>

            <div class="c-18-km-456 pos-abs">
              <!-- prettier-ignore --><span class="c-18-km-456-0">(1.8 km)</span>
            </div>
            <!-- Group1 -->
            <section class="group-458 pos-abs">
              <div class="vector-459 pos-abs">
                <div
                  class="nodeBg-459 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>

              <div class="vector-460 pos-abs">
                <div
                  class="nodeBg-460 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>
            </section>

            <div class="anjalidesaifort-454 pos-abs">
              <!-- prettier-ignore --><span class="anjalidesaifort-454-0">anjali.desai@fortis.com</span>
            </div>

            <div class="vector-457 pos-abs">
              <div
                class="nodeBg-457 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>
          </div>
        </div>
        <div class="component-4-4231-container pos-abs">
          <div class="property-1group-4177 pos-abs">
            <div class="rectangle-2-465 pos-abs"></div>

            <div class="rectangle-4-466 pos-abs"></div>

            <div class="rectangle-3-467 pos-abs">
              <img
                src="https://s3-alpha-sig.figma.com/img/a25f/d092/7633f861cab3e2a0d428de46394d9621?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=G6CtYHSnjfO9WjGZ-yz7hDuMS5rMBVN-nyqyDdpXOAsGUrq07PD4O69mg-VV4FA5NQ5lGH~HSCA4H7lmJ~gp53clbq0umQ8svL7afkOyD8MWdbdfyaNtxd4q7-G0pePaW8pe-KZ-Z2nlu3h5OTYWwiUeazJpRAvg7l2Eg60PngIakOvM6QQWtwe0ZsdlZnkRtJhfR2SXwB~rbevOZefFhoiav7e-NPytXgt~zOouuIgNP4XMmIq0xMNZmsUCHoyxbGkWO7ac3FTkpCRU1qXspB5K9KKYK~RCXS9FbsTC509wzU1vkQcDnSYWIMqDWIHhMis8izTqZcQ9iYiFPPdEMg__"
                class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-467"
                alt="467-ALT"
              />
            </div>

            <div class="dr-rajesh-kumar-468 pos-abs">
              <!-- prettier-ignore --><span class="dr-rajesh-kumar-468-0">Dr. Suresh Reddy</span>
            </div>

            <div class="view-on-map-477 pos-abs">
              <!-- prettier-ignore --><span class="view-on-map-477-0">View on Map</span>
            </div>

            <div class="vector-478 pos-abs">
              <div
                class="nodeBg-478 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>

            <div class="interventional--469 pos-abs">
              <!-- prettier-ignore --><span class="interventional--469-0">Interventional Cardiologist<br></span>
            </div>

            <div class="care-hospitals--471 pos-abs">
              <!-- prettier-ignore --><span class="care-hospitals--471-0">Care Hospitals, Banjara Hills</span>
            </div>

            <div class="c-42-km-472 pos-abs">
              <!-- prettier-ignore --><span class="c-42-km-472-0">(4.2 km)</span>
            </div>
            <!-- Group1 -->
            <section class="group-474 pos-abs">
              <div class="vector-475 pos-abs">
                <div
                  class="nodeBg-475 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>

              <div class="vector-476 pos-abs">
                <div
                  class="nodeBg-476 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>
            </section>

            <div class="sureshreddycare-470 pos-abs">
              <!-- prettier-ignore --><span class="sureshreddycare-470-0">suresh.reddy@care.com</span>
            </div>

            <div class="vector-473 pos-abs">
              <div
                class="nodeBg-473 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>
          </div>
        </div>
        <div class="component-5-4246-container pos-abs">
          <div class="property-1group-4180 pos-abs">
            <div class="rectangle-2-480 pos-abs"></div>

            <div class="rectangle-4-481 pos-abs"></div>

            <div class="rectangle-3-482 pos-abs">
              <img
                src="https://s3-alpha-sig.figma.com/img/c2b0/3616/5939a431f4a4b7f8e2c8ebea3a1c5b7a?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=SXzHyOvk5pHIbDHw7qPOQEdYkxBWdlWToG9WYgpQEX07tgl6ySAyi5pP2M8w5csaVlJtNJbIjLKwtozSSTV~0YJ1ctnXlydq2KpfXBYGZgky14sFwTj35DOdsZ9511PnleZMF38rJ7VtLgC41Vvmi53TRdOldJZ7oZXeS7RzhuTROBNDeJHlDhxh1CNMqCOSme1u~AdWyCDkn2ZekDB56soYZEHjg7WNMsQoLDWQIC9oLtjowLu4uwaHW4wQ1AzPwxB2XnRVj9A1I9Sn4nKcvuw2qnEYGDckjW9GcJKc9tYn5oi2LIQMPpqzAvIO62FNuqeyq9ZwBQT2usE4gxvMGw__"
                class="pos-abs image-div bg-no-repeat fill-parent bg-cover nodeBg-482"
                alt="482-ALT"
              />
            </div>

            <div class="dr-rajesh-kumar-483 pos-abs">
              <!-- prettier-ignore --><span class="dr-rajesh-kumar-483-0">Dr. Meera Patel</span>
            </div>

            <div class="view-on-map-492 pos-abs">
              <!-- prettier-ignore --><span class="view-on-map-492-0">View on Map</span>
            </div>

            <div class="vector-493 pos-abs">
              <div
                class="nodeBg-493 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>

            <div class="cardiac-surgeon-484 pos-abs">
              <!-- prettier-ignore --><span class="cardiac-surgeon-484-0">Cardiac Surgeon<br><br></span>
            </div>

            <div class="kokilaben-hospi-486 pos-abs">
              <!-- prettier-ignore --><span class="kokilaben-hospi-486-0">Kokilaben Hospital, Andheri West</span>
            </div>

            <div class="c-35-km-487 pos-abs">
              <!-- prettier-ignore --><span class="c-35-km-487-0">(3.5 km)</span>
            </div>
            <!-- Group1 -->
            <section class="group-489 pos-abs">
              <div class="vector-490 pos-abs">
                <div
                  class="nodeBg-490 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>

              <div class="vector-491 pos-abs">
                <div
                  class="nodeBg-491 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
                ></div>
              </div>
            </section>

            <div class="meerapatelkokil-485 pos-abs">
              <!-- prettier-ignore --><span class="meerapatelkokil-485-0">meera.patel@kokilaben.com</span>
            </div>

            <div class="vector-488 pos-abs">
              <div
                class="nodeBg-488 pos-abs pos-init fill-parent image-div bg-contain bg-no-repeat"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
